<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Full Menu</h1>
    <ul style="list-style:none">
        <% items.forEach((item) => { %>
            <li><%= item.rating === 5 ? '⭐️' : '' %><%= item.name %><%= item.rating === 5 ? '⭐️' : '' %><br>
                $<%= item.price %><br>
                Rating: <%= item.rating %><br>
                Description: <%= item.details %><br><br>
            </li>      
        <% }) %>
    </ul>
</body>
</html>
